.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgb(10,10,11);
}

.nav-item {
  padding-right: 10px;
}

.navbar.navbar-light.navbar-expand-md.d-inline-flex.d-xl-flex {
}

.col-xl-9.offset-xl-0 {
}


/* Снизу охерительный способ ограничения кол-ва символов в столбце таблицы */
.custom-size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.custom-size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}

table {
    table-layout:fixed;
    width:100%;
}
